<%- include("header") -%>
    <h2>This is the about page</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum expedita quod omnis corrupti neque rem
        voluptatem facilis, animi, beatae aut minima pariatur ipsum odit dolorum, ipsam voluptates mollitia doloremque
        earum?</p>


    <%- include("footer") -%>